<div>
	<h1>{{title}}</h1>
	<button (click)="startGame()">New Game</button>
	<button (click)="clearGame()">Clear</button>
	<div *ngIf="games"><label>{{status}}</label></div>
	<div *ngIf="games" class="parentGameDetail">
		<ox-game-detail *ngFor="#part of parts" (bingo)="bingo()" 
		[part]="part" 
		[game]="currentGame"
		[parentStatus]="status"
		>
		</ox-game-detail>
	</div>
	<div *ngIf(games)>
		<div *ngFor="#game of games">
			<a href="#" (click)="onSelectGame($event,game)">Game id: {{game.id}}</a>
		</div>
	</div>
</div>